@model HStore.ClientsPayments

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Client Payment Details</h4>
        <p class="card-category"></p>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentValue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PaymentValue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PaymentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentComment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PaymentComment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </div>
</div>
