@model IEnumerable<HStore.Clients>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success pull-right">Create New</a>
</p>
<div class="clearfix"></div>
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Clients</h4>
        <p class="card-category"> Table contains clients details</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalPaid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalRemaining)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreationBy)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPaid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalRemaining)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                           
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>