@model HStore.SellRequest

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Sell Request</h4>
        <p class="card-category">Sell Request</p>
    </div>
    <div class="card-body">
        <form id="NewOrderForm">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InvoiceNumber" class="control-label"></label>
                        <input asp-for="InvoiceNumber" class="form-control" />
                        <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ClientId" class="control-label"></label>
                        <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SellDate" class="control-label"></label>
                        <input asp-for="SellDate" class="form-control" />
                        <span asp-validation-for="SellDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Paid" class="control-label"></label>
                        <input asp-for="Paid" class="form-control" type="number" />
                        <span asp-validation-for="Paid" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Remaining" class="control-label"></label>
                        <input asp-for="Remaining" class="form-control" type="number" />
                        <span asp-validation-for="Remaining" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="card-header card-header-info">
                    <h6 class="card-title">Sell Request Items</h6>
                    @*<p class="card-category">Purchase Request</p>*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Item</label>
                        <select id="ItemId" name="ItemId" class="form-control" asp-items="ViewBag.Items"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Sell Price</label>
                        <input type="number" id="SellPrice" name="SellPrice" min="1" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Sell Quantity</label>
                        <input type="number" id="SellQuantity" min="1" name="SellQuantity" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="button" value="+" id="addToList" class="btn btn-success" />
                    </div>
                </div>
            </div>

            <div class="row">
                <table id="detailsTable" class="table">
                    <thead class="text-info">
                    <th>Item Name</th>
                    <th>Sell Price</th>
                    <th>Sell Quantity</th>
                    <th></th>
                    <tbody>
                        @foreach (var item in Model.SellRequestDetails)
                        {
                            <tr>
                                <td style="display:none;">@item.ItemId</td>
                                <td>@item.Item.Name</td>
                                <td>@item.SellPrice</td>
                                <td>@item.SellQuantity</td>
                                <td><a data-itemId="@item.Id" href="#" class="deleteItem">Remove</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="button" id="saveOrder" value="Create" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-dark pull-right">Back to List</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>

    //Add Multiple Order.
    $("#addToList").click(function (e) {
        e.preventDefault();

        if ($.trim($("#ItemId").val()) == "" || $.trim($("#SellPrice").val()) == "" || $.trim($("#SellQuantity").val()) == "") return;

        var ItemId = $("#ItemId").val(),
            SellPrice = $("#SellPrice").val(),
            SellQuantity = $("#SellQuantity").val(),
            detailsTableBody = $("#detailsTable tbody");

        var productItem = '<tr><td style="display:none;">' + ItemId + '</td><td>' + $("#ItemId option:selected").text() + '</td><td>' + SellPrice + '</td><td>' + SellQuantity + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
        detailsTableBody.append(productItem);
        clearItem();
    });
    //After Add A New Order In The List, Clear Clean The Form For Add More Order.
    function clearItem() {
        $("#ItemId").val('');
        $("#SellPrice").val('');
        $("#SellQuantity").val('');
    }
    // After Add A New Order In The List, If You Want, You Can Remove It.
    $(document).on('click', 'a.deleteItem', function (e) {
        e.preventDefault();
        var $self = $(this);
        if ($(this).attr('data-itemId') == "0") {
            $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                $(this).remove();
            });
        } else {
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                // dataType: 'JSON',
                type: 'POST',
                url: "/SellRequests/DeleteSRDetails",
                data: { id: $(this).attr('data-itemId')},
                success: function (result) {
                    if (result == "Ok") {
                        $self.parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                            $self.remove();
                        });
                    }
            },
            error: function () {
                alert("Error!")
            }
        });
        }
    });
    //After Click Save Button Pass All Data View To Controller For Save Database
    function saveOrder(data) {
        return $.ajax({
            contentType: 'application/x-www-form-urlencoded',
           // dataType: 'JSON',
            type: 'POST',
            url: "/SellRequests/EditSR",
            data: data,
            success: function (result) {
                alert(result);
               // location.reload();
                var url ="@Url.Action("Index", "SellRequests")";
                window.location.href = url;
            },
            error: function () {
                alert("Error!")
            }
        });
    }
    //Collect Multiple Order List For Pass To Controller
    $("#saveOrder").click(function (e) {
        e.preventDefault();
        debugger;
        var orderArr = [];
        orderArr.length = 0;
        debugger
        $.each($("#detailsTable tbody tr"), function () {
            if ($(this).find('td:eq(4) a').attr('data-itemId') == "0") {
                orderArr.push({
                    ItemId: $(this).find('td:eq(0)').html(),
                    SellPrice: $(this).find('td:eq(2)').html(),
                    SellQuantity: $(this).find('td:eq(3)').html()
                });
            }
        });

        var data = //JSON.stringify({
        {
            id: $('#Id').val(),
            invoicenumber: $("#InvoiceNumber").val(),
            selldate: $("#SellDate").val(),
            clientid: $("#ClientId").val(),
            paid: $("#Paid").val(),
            remaining: $("#Remaining").val(),
            sellrequestdetails: orderArr
        };

        $.when(saveOrder(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}